* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.f-family {
    font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-brand a, .navbar-light .navbar-brand a:hover {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 1px;
    color: #121C33;
}

 .character-link {
    position: static;
    width: 120px;
    height: 24px;
    left: 24px;
    top: 8px;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #121C33 !important;

    opacity: 0.6;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    padding: 3px 20px;
    background: rgba(18, 28, 51, 0.05) !important;
    border-radius: 8px;
    text-decoration: none;
}

.nav {
    margin: 10px 0 !important;
}

.card, .pcard {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px !important;

}

.psideb {
    width: 100%;
}

.psideb h1 {
    font-weight: bold;
}

.Csidebar {
   width: 100%; 
}